<div>
    <table>
        <tr>
          <td *ngFor="let compStatusStruc of compStatusStructureList">
            <div class="comp-struc-div-style">
              <div>                
                <div [ngClass]="compStatusStruc.headerClass">
                  <span class="header-span-style">{{compStatusStruc.flowName}}</span>
                </div>
                <div [ngClass]="compStatusStruc.footerClass">
                  <span class="footer-span-style">{{compStatusStruc.flowMsg}}</span>
                </div>
              </div>
              <span style="font-size: 12px;">{{compStatusStruc.flowDate}}</span>
            </div>
          </td>
        </tr>
      </table>
</div>