<div>

    <table>
        <tr>
            <td>
                <span class="span-border-style">Reg</span>
                <span class="span-border-style">Pending 2 days</span>
                <br />
                12-sep-2018
            </td>
            <td>
                <span class="span-border-style">Inv</span>
                <span class="span-border-style">Pending 3 days</span>
                <br />
                12-sep-2018
            </td>
            <td>
                <span class="span-border-style">RCA</span>
                <span class="span-border-style">Pending 4 days</span>
                <br />
                12-sep-2018
            </td>
            <td>
                <span class="span-border-style">CA</span>
                <span class="span-border-style">Pending 5 days</span>
                <br />
                12-sep-2018
            </td>
            <td>
                <span class="span-border-style">PA</span>
                <span class="span-border-style">Pending 6 days</span>
                <br />
                12-sep-2018
            </td>
            <td>
                <span class="span-border-style">Cl</span>
                <span class="span-border-style">Pending 7 days</span>
                <br />
                12-sep-2018
            </td>
        </tr>
    </table>
</div>