
  <!--start process flow div-->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 step-row" style="padding-left: 30px;padding-right: 30px;">
    <ng-container *ngFor="let processData of processFlowData;let i = index;">
      <!-- start div for active step -->
      <div class="step-active step-col" style="display:inline-block;width: 16%;" >
        <p style="padding-top: 8px;text-align:center;color: white;font-size: 20px;" >
          <a style="color:white" [href]="processData.processUrl">{{processData?.processName}}</a>
        </p>
      </div>
      
    </ng-container>
  </div>
  <!--end flow-->
