<div style="margin-left:10px;">
    <form [formGroup]="activityTrackingFormGroup">
        <table class="table-style">
            <thead class="text-align-style">
                <tr class="header-tr-style">
                    <td *ngIf="gridConfigModel['complainNo']" [ngClass]="gridConfigModel['complainNo'].headerClass">
                        {{ gridConfigModel['complainNo'].headerDesc }}
                    </td>
                    <td *ngIf="gridConfigModel['status']" [ngClass]="gridConfigModel['status'].headerClass">
                        {{ gridConfigModel['status'].headerDesc }}
                    </td>
                    <td *ngIf="gridConfigModel['commSett']" [ngClass]="gridConfigModel['commSett'].headerClass">
                        {{ gridConfigModel['commSett'].headerDesc }}
                    </td>
                </tr>
            </thead>
            <tbody class="text-align-style">
                <tr *ngFor="let activityTracDI of testjson" class="tbody-tr-style">
                    <td *ngIf="gridConfigModel['complainNo']" [ngClass]="gridConfigModel['complainNo'].dataClass">{{activityTracDI.compNo}}</td>
                    <td *ngIf="gridConfigModel['status']" [ngClass]="gridConfigModel['status'].dataClass">
                        <!--status-->
                        <ispl-comp-status-structure compStatus={{activityTracDI.compstatus}}></ispl-comp-status-structure>
                    </td>
                    <td *ngIf="gridConfigModel['commSett']" [ngClass]="gridConfigModel['commSett'].dataClass">
                        <label class="switch"  *ngIf="!activityTracDI.checked">
                            <input type="checkbox" [checked]=activityTracDI.checked formControlName="commercialCheck">
                            <span class="slider round"></span>
                        </label>
                        <span *ngIf="activityTracDI.checked" class="custom-link">Details</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>