/* start table style */
.table-style {
    border-collapse: separate;
    border-spacing: 0 10px;
}
.header-tr-style {
    background-color: #dbdada;
    font-family: sans-serif;
    font-size: 13px;
    color: #000000;
    letter-spacing: 1px;
    padding-left: 10px;
    border: 1px solid #7B7B7B;
    box-shadow: 0px 1px 5px #D1D1D1;
    height: 34px;
}
.header-first-td-style {
    padding-left: 10px;
    border-bottom: 1px solid #BCBCBC;
    border-top: 1px solid #BCBCBC;
    border-left: 1px solid #BCBCBC;
}
.header-mid-td-style {
    padding-left: 10px;
    border-bottom: 1px solid #BCBCBC;
    border-top: 1px solid #BCBCBC;
}
.header-last-td-style{
    padding-right: 10px;
    border-bottom: 1px solid #BCBCBC;
    border-top: 1px solid #BCBCBC;
    border-right: 1px solid #BCBCBC;
}

.tbody-tr-style {
    background-color: #f9f9f9;
    font-size: 13px;
    font-family: sans-serif;
    color: #525254;
    height: 50px;
    box-shadow: 0px 1px 5px #c7c7c7;
}
.tbody-first-td-style {
    padding-left: 10px;
    border-bottom: 1px solid #b9bdbf;
    border-left: 1px solid #b9bdbf;
    border-top: 1px solid #b9bdbf;
}
.tbody-mid-td-style {
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #b9bdbf;
    border-top: 1px solid #b9bdbf;
}
.tbody-last-td-style {
    padding-left: 10px;padding-top: 10px;
    border-bottom: 1px solid #b9bdbf;
    border-top: 1px solid #b9bdbf;
    border-right: 1px solid #b9bdbf;
}
/* end of table style */
/* start text align style */
.text-align-style {
    text-align:center;
}
/* end of text align style */
/* toogle switch style */
.switch {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 22px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 15px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* end of toogle switch style */