<!-- start div for page-container class-->
<div class="page-container">

  <!-- start div for breadcrumb-->
  <div>
    <ol class="breadcrumb breadcrumb-custom">
      <li class="breadcrumb-item">
        <a href="#/home">
          <i class="fa fa-home"></i> Home </a>
      </li>
      <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
  </div>
  <!-- end div for breadcrumb-->

  <!--start process flow div-->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 step-row" style="padding-left: 30px;padding-right: 30px;">
    <ng-container *ngFor="let processData of processFlowData;let i = index;">
      <!-- start div for active step -->
      <div class="step-active step-col" style="display:inline-block;width: 16%;" *ngIf="i == processFlowPageIndex">
        <p style="padding-top: 8px;text-align:center;color: white;font-size: 20px;" *ngIf="i == processFlowPageIndex">
          <a style="color:white" [href]="processData.processUrl">{{processData.processName}}</a>
        </p>
      </div>
      <!-- end of div for active step -->
      <!-- start div for inactive step -->
      <div class="step-inactive step-col" style="display:inline-block;width: 16%;" *ngIf="i > processFlowPageIndex">
        <p style="padding-top: 8px;text-align:center;color: #5a5d5f;font-size: 20px;" *ngIf="i > processFlowPageIndex">
          <a [href]="processData.processUrl">{{processData.processName}}</a>
        </p>
      </div>
    </ng-container>
  </div>

  <!-- start div for complaintRegister body-->
  <div>
    <!--start form for complaintRegisterFormGroup-->
    <form [formGroup]="complaintRegisterFormGroup" autocomplete="off" (ngSubmit)="onComplainSubmit()">

      <!-- start div for row complaint-form class-->
      <div class="row complaint-form">
        <!-- start div for complaint reference no-->
        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4" *ngIf="complaintReferenceNo!=''">
          <label>Complaint Reference No</label>
          <input type="text" class="form-control" [value]="complaintReferenceNo" readonly/>
        </div>
        <!-- end div for Mode of Receipt of Complaint-->

        <!-- start div for Mode of Receipt of Complaint-->
        <fieldset disabled class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <label for="modeOfReceiptOfComplaint">Mode of Receipt of Complaint</label>
          <select class="custom-select col-xs-12 col-sm-6 col-md-6 col-lg-4" formControlName="modeId">
            <option *ngFor="let receipt of modeOfReceiptDropDownList" value="{{ receipt.Key }}">{{ receipt.Value }}</option>
          </select>
        </fieldset>
        <!-- end div for Mode of Receipt of Complaint-->

        <!-- start div for Compliant Reference Date-->
        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <label for="compliantReferenceDateTime">Compliant Reference Date</label>
          <input type="date" class="form-control date-picker-height" [value]="complaintReferenceDate" formControlName="complaintReferenceDt"
            (change)="compareTwoDates('complaintReferenceDt')" readonly/>
          <!--start div for Compliant Reference Date alert-->
        </div>
        <!--end div for Compliant Reference Date-->


        <!--new add for open modal on Official Document No-->

        <!-- start div for cust code ,custname ,sales group, sales offcice -->
        <ng-container *ngIf="selectedItemDetails.length!=0">
          <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <label>Customer Code</label>
            <input type="text" class="form-control" [value]="custCode" readonly/>
          </div>


          <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <label>Customer Name</label>
            <input type="text" class="form-control" [value]="custName" readonly/>
          </div>

          <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4" hidden>
            <label>Customer Segment</label>
            <input type="text" class="form-control" [value]="custSegment" readonly/>
          </div>

          <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <label>Sales Group</label>
            <input type="text" class="form-control" [value]="salesGroup" readonly/>
          </div>

          <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <label>Sales Office</label>
            <input type="text" class="form-control" [value]="salesOffice" readonly/>
          </div>
        </ng-container>
        <!-- end div for cust code ,custname ,sales group, sales office -->

        <!--start table for add and modify complaaint both-->

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="selectedItemDetails.length!=0">
          <!-- start div for  selected invoice details heading -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="selectedItemDetails.length!=0" style="text-align:center;">
            <span>
              <b>Selected Official Document Details:</b>
            </span>
          </div>
          <!-- end div for selected invoice details heading -->
          <div class="faceted-data-div" style="display:inline-block;margin: 4px;" *ngFor="let selInv of selectedItemDetails ">
            {{selInv.key}}&nbsp;
          </div>
        </div>
        <!-- start div for complaintQty error -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ng-container *ngFor="let selInv of selectedItemDetails">
            <ng-container *ngFor=" let selInvError of selInv.value.selectedItem">
              <div class="alert alert-danger" *ngIf="selInvError.uiInpErrFlag">
                Official Document No:
                <b>{{ selInvError.invoiceNo }}</b>, Item code:
                <b>{{ selInvError.itemCode }}</b>, error: {{ selInvError.uiInpErrDesc }}
              </div>
            </ng-container>
          </ng-container>

          <!-- <div class="alert alert-danger" *ngIf="complaintQtyInMtrsError==true && selectedItemDetails.length!=0">
            Please enter complaint quantity.
          </div> -->

        </div>
        <!-- end div for complaint qty error -->


        <!-- start table div -->
        <div class="col-lg-12 col-md-12 col-xs-12 scroll-bar" style="margin-bottom: 15px; margin-top: 5px;" *ngIf="selectedItemDetails.length!=0">
          <table class="table-style">
            <thead>
              <tr class="th-style">
                <td class="header-style-first hideextra">
                  {{itemsHeader?.invoiceNo}}
                </td>

                <td class="header-style hideextra">
                  {{itemsHeader?.invoiceDate}}
                </td>
                <!-- <td class="header-style hideextra">
                  {{itemsHeader.customerCode}}
                </td>

                <td class="header-style hideextra">
                  {{itemsHeader.customerName}}
                </td> -->

                <td class="header-style hideextra">
                  {{itemsHeader?.itemCode}}
                </td>
                <td class="header-style hideextra">
                  {{itemsHeader?.itemName}}
                </td>
                <td class="header-style hideextra">
                  {{itemsHeader?.invoiceQtyInMtrs}}
                </td>
                <td class="header-style hideextra" >
                  {{itemsHeader?.complaintQtyInMtrs}}
                  <!-- <label class="red-asterick">*</label> -->
                </td>

                <td class="header-style hideextra">
                  {{itemsHeader?.batchNo}}
                </td>

                <td class="header-style hideextra">
                  {{itemsHeader?.usageGroup}}
                </td>
                <td class="header-style hideextra">
                  {{itemsHeader?.stateOrRegion}}
                </td>
                <td class="header-style hideextra">
                  {{itemsHeader?.poNo}}
                </td>
                <td class="header-style hideextra">
                  {{itemsHeader?.soNo}}
                </td>

                <td class="header-style hideextra">
                  {{itemsHeader?.inspectionVendorName}}
                </td>

                <td class="header-style hideextra">
                  {{itemsHeader?.loadingVendorName}}
                </td>
                <td class="header-style-last hideextra ">
                  {{itemsHeader?.truckNo}}
                </td>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let selInv of selectedItemDetails">
                <tr class="tr-style" *ngFor=" let selItem of selInv.value.selectedItem
              let odd = odd; let even = even;" [ngClass]="{even: even, odd: odd }">
                  <td class="td-style-first">
                    {{selItem.invoiceNo}}
                  </td>
                  <td class="td-style hideextra">
                    {{selItem.invoiceDate|date: 'dd-MMM-yyyy'}}
                  </td>
                  <!-- <td class="td-style hideextra">
                    {{selItem.customerCode}}
                  </td>
                  <td class="td-style hideextra">
                    {{selItem.customerName}}
                  </td> -->
                  <td class="td-style hideextra">
                    {{selItem.itemCode}}
                  </td>
                  <td class="td-style hideextra">
                    {{selItem.itemName}}
                  </td>
                  <td class="td-style hideextra" style="text-align: right">
                    {{selItem.invoiceQtyInMtrs}}
                  </td>
                  <td class="td-style hideextra" style="text-align: right">
                      {{selItem.complaintQtyInMtrs}}
                    <!-- <input type="number" #complaintQtyInMtrs value="" (keyup)="onKeyupComplaintQty(complaintQtyInMtrs.value,selItem.invoiceNo,selItem.itemCode,selItem.invoiceQtyInMtrs)" -->
                      <!-- readonly/> -->
                  </td>
                  <td class="td-style hideextra">
                      {{selItem.batchNo}}
                    <!-- <input type="number" #batchNo value="" (keyup)="onKeyupBatchNo(batchNo.value,selItem.invoiceNo,selItem.itemCode)" readonly/> -->
                  </td>
                  <td class="td-style hideextra">
                    {{selItem.usageGroup}}
                  </td>
                  <td class="td-style hideextra">
                    {{selItem.stateOrRegion}}
                  </td>
                  <td class="td-style hideextra">
                    {{selItem.poNo}}
                  </td>
                  <td class="td-style hideextra">
                    {{selItem.soNo}}
                  </td>
                  <td class="td-style hideextra">
                    {{selItem.inspectionVendorName}}
                  </td>
                  <td class="td-style hideextra">
                    {{selItem.loadingVendorName}}
                  </td>
                  <td class="td-style-last hideextra">
                    {{selItem.truckNo}}
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <!--end table div-->

        <!--end of table for modify and add complaint both-->

        <!--start div for add and modify complaint-->

        <!--start div for Contact Person Name-->
        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <label for="contactPersonName">Customer's Contact Person</label>
          <input type="text" id="contactPersonName" class="form-control" [maxlength]="contactPersonNameLength" [value]="contactPersonNameForModify"
            formControlName="contactPersonName" readonly/>
        </div>
        <!--end div for Contact Person Name-->

        <!--start div for Contact Person Phone No-->
        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <label for="contactPersonPhoneNo">Phone No</label>
          <input type="text" id="contactPersonPhoneNo" class="form-control" [maxlength]="contactPersonPhoneNoLength" [value]="contactPersonPhoneNoForModify"
            formControlName="contactPersonPhoneNo" readonly/>
        </div>
        <!--end div for Contact Person Phone No-->

        <!--start div for Contact Person Email Id-->
        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <label for="contactPersonEmailId">Email Id</label>
          <input type="text" id="contactPersonEmailId" class="form-control" [maxlength]="contactPersonEmailIdLength" [value]="contactPersonEmailIdForModify"
            formControlName="contactPersonEmailId" readonly/>
        </div>
        <!--end div for Contact Person Email Id-->

        <!--start div for Complaint Type-->
        <fieldset disabled class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <label for="complaintType">Complaint Type</label>
          <select class="custom-select col-xs-12 col-sm-6 col-md-6 col-lg-4" formControlName="complaintTypeId" (change)="onComplaintTypeSelect($event,$event.target.value)">
            <!--<option value="0" selected="selected">--Select Complaint Type--</option>-->
            <option *ngFor="let cmpType of complaintTypeDropDownList" value="{{ cmpType.Key}}">{{ cmpType.Value }}</option>
          </select>
        </fieldset>
        <!--end div for Complaint Type-->

        <!--start div for Nature of Complaint-->
        <fieldset disabled class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <label for="natureOfcomplaint col-xs-12 col-sm-6 col-md-6 col-lg-4">Nature of Complaint</label>
          <select class="custom-select col-xs-12 col-sm-6 col-md-6 col-lg-4" formControlName="natureOfComplaintId">
            <option *ngFor="let natureCmp of natureOfComDropDownList" value="{{ natureCmp.Key }}">{{ natureCmp.Value }}</option>
          </select>
        </fieldset>
        <!--end div for Nature of Complaint-->

        <!--start div for Detail of Complaint-->
        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <label for="detailOfComplaint">Detail of Complaint</label>
          <textarea id="detailOfComplaint" rows="5" class="form-control hide-horizontal-scroll" [value]="complaintDetailsForModify"
            #complaintDetails formControlName="complaintDetails" [maxlength]="complaintDetailsLength" (keyup)="comDetsOnkeyup(complaintDetails.value)"
            readonly></textarea>
        </div>
        <!--end div for Detail of Complaint-->

        <!--start div for Complaint Logged By-->
        <fieldset disabled class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <!--<div>-->
          <label for="disabledSelectcomplaintLoggedBy">Complaint Logged By {{loggedOnDt}}</label>
          <select id="disabledSelectcomplaintLoggedBy" class="custom-select  col-xs-12 col-sm-6 col-md-6 col-lg-4" formControlName="loggedBy">
            <!--<option  [selected]="selected" [value]="0">Sample value</option>-->
            <option *ngFor="let cmpLoggedBy of complaintLoggedByDropDownList" value="{{ cmpLoggedBy.Key }}">{{ cmpLoggedBy.Value }}
            </option>
          </select>
        </fieldset>
        <!--end div for Complaint Logged By-->

        <!--start div for Complaint Logged On-->
        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <label for="complaintLoggedOn">Complaint Logged On</label>
          <input type="date" id="complaintLoggedOn" class="form-control date-picker-height" [value]="loggedOnDate" formControlName="loggedOnDt"
            (change)="compareTwoDates('loggedOnDt')" readonly/>
        </div>
        <!--end div for Complaint Logged On-->

        <!--start div for radio button-->
        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <ng-container *ngIf="siteVisitValue =='Y'">
            <div style="display:inline-block;">
              <label>Site Visit Required</label>
              <label class="control control--radio">Yes
                <input type="radio" name="siteVisit" formControlName="siteVisit" [value]="Y" [checked]=true (click)="onRadioClick('Y')" disabled/>
                <div class="control__indicator"></div>
              </label>
            </div>
            <div style="display:inline-block;">
              <label class="control control--radio">No
                <input type="radio" name="siteVisit" formControlName="siteVisit" [value]="N" (click)="onRadioClick('N')" disabled/>
                <div class="control__indicator"></div>
              </label>
            </div>
          </ng-container>
          <ng-container *ngIf="siteVisitValue =='N'">
            <div style="display:inline-block;">
              <label>Site Visit Required</label>
              <label class="control control--radio">Yes
                <input type="radio" name="siteVisit" formControlName="siteVisit" [value]="Y" (click)="onRadioClick('Y')" disabled/>
                <div class="control__indicator"></div>
              </label>
            </div>
            <div style="display:inline-block;">
              <label class="control control--radio">No
                <input type="radio" name="siteVisit" formControlName="siteVisit" [value]="N" [checked]=true (click)="onRadioClick('N')" disabled/>
                <div class="control__indicator"></div>
              </label>
            </div>
          </ng-container>
        </div>
        <!--end div for radio button-->

        <!--start ng-container for site visit date and siteVisitValue = Y-->
        <ng-container *ngIf="siteVisitValue=='Y'">

          <!--start div for site visit date-->
          <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4" hidden>
            <label>Site Visit Date</label>
            <input type="date" class="form-control date-picker-height" formControlName="siteVisitDt" [value]="siteVisitDtForModify" (change)="compareSiteVisitDt()"
            readonly/>
          </div>
          <!-- end div for site visit date-->

          <!--start div for Complaint Logged By-->
          <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4" hidden>
            <label for="siteVisitBy">Site Visit By</label>
            <select class="custom-select col-xs-12 col-sm-6 col-md-6 col-lg-4" formControlName="siteVisitBy">
              <!--<option  [selected]="selected" [value]="0">Sample value</option>-->
              <option *ngFor="let cmpLoggedBy of complaintLoggedByDropDownList" value="{{ cmpLoggedBy.Key }}">{{ cmpLoggedBy.Value }}
              </option>
            </select>
          </div>
          <!--end div for Complaint Logged By-->
           <!-- start div for site visit by department name -->
           <fieldset disabled class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
              <label>Site Visit By</label>
              <select class="custom-select col-xs-12 col-sm-6 col-md-6 col-lg-4" formControlName="siteVisitByDepartmentName">
                <option *ngFor="let dept of departmentNameDropDownList" value="{{ dept.key }}">{{ dept.value }}
                </option>
              </select>
           </fieldset>
            <!-- end of div for site visit by department name -->
         </ng-container>
        <!-- end ng-container for site visit date-->

        <!--start div for show files-->
        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4" *ngIf="complaintReferenceNo && selectedComplaintReferenceDetails.files?.length!=0">
          <label>Uploaded file(s)</label>
          <div *ngFor="let file of selectedComplaintReferenceDetails.files">
            <a href="{{file.fileUrl}}" target="_blank">{{file.fileName}}</a>
            <br/>
          </div>
        </div>
        <!--end div for show files-->


        <!-- start div for Submit  and Cancel Button-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <!-- start div for Cancel Button-->
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 button-holder">
            <button type="submit" class="btn default-button-style" (click)="onCancel()">
              Cancel
            </button>
          </div>
          <!-- end div for Cancel Button-->

        </div>
        <!-- start div for Submit  and Cancel Button-->

      </div>
      <!-- end div for row complaint-form class-->
    </form>
    <!--end form for complaintRegisterFormGroup-->

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="resMsgType==errorConst">
      <div class="alert alert-danger">
        {{resErrorMsg}}&nbsp;
        <button aria-label="Close" class="close" type="button" (click)="deleteResErrorMsgOnClick(resMsgType)">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <br/>
      <br/>
    </div>

  </div>
  <!-- end div for complaintRegister body-->

</div>
<!-- start div for page-container class-->

<!-- start div for ispl-busy-spinner-->
<ispl-busy-spinner *ngIf="busySpinner.busy"></ispl-busy-spinner>
<!-- end div for ispl-busy-spinner-->