/* .dashboard-container {
} */

.activityBar {
  /*position: absolute;
  left: 340px;
  top: 100px;*/
  height: 75px;
  background-color: white;
  box-shadow: 1px 1px 15px #949494;
  border-style: solid;
  border-width: 1px;
  border-color: #B1B1B1;
  text-align: center;
  float: none;
  margin: 0 auto;
  margin-top: 30px;
}

.tiles-container {
  float: none;
  margin: 0 auto;
  margin-top: 30px;
}

.activity-item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  color: #444444
}

.icon-holder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  height: 65px;
  width: 65px;
  background: #73AD21;
  cursor: pointer;
}

/* start quick links icon style */
.quick-links-add-icon-style {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 500px;
  font-size: 25px;
  cursor:pointer;
}
.quick-links-view-icon-style {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 900px;
  font-size: 25px;
  cursor:pointer;
}
/* end of quick links icon style */