<div><!--class="dashboard-container"-->
  <!-- Activiy Bar -->
  <div class="row col-xs-12 col-sm-10 col-md-10 col-lg-10 activityBar">
    <div class="activity-item"><i class="fa fa-bookmark"></i> Quick Links</div>
    <!--Add complaint-->
    <div class="quick-links-add-icon-style" title="Add Complaint" (click)="onQuickLinkIconClick('add')"><i class="fa fa-plus" style="color:#00ad21;" aria-hidden="true"></i></div>
    <!--View complaint-->
    <div class="quick-links-view-icon-style" title="View Complaint" (click)="onQuickLinkIconClick('view')"><i class="fa fa-clone" style="color:#3078be;" aria-hidden="true"></i></div>
  </div>
  <!-- End Activiy Bar -->

  <!-- Tiles Region -->
  <div class="row col-xs-12 col-sm-10 col-md-10 col-lg-10 tiles-container">
    <ng-container *ngIf="tempPlantType ==='ADMN'">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" [@DashboardTilesFlyInOutDelay0]>
        <ispl-widget-tiles [tiles]='tiles1'></ispl-widget-tiles>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" [@DashboardTilesFlyInOutDelay2]>
        <ispl-widget-tiles [tiles]='tiles3'></ispl-widget-tiles>
      </div>
    </ng-container>
    <ng-container *ngIf="tempPlantType!='ADMN'">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" [@DashboardTilesFlyInOutDelay0]>
        <ispl-widget-tiles [tiles]='tiles1'></ispl-widget-tiles>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" [@DashboardTilesFlyInOutDelay1]>
        <ispl-widget-tiles [tiles]='tiles2'></ispl-widget-tiles>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" [@DashboardTilesFlyInOutDelay2]>
        <ispl-widget-tiles [tiles]='tiles3'></ispl-widget-tiles>
      </div>
    </ng-container>
  </div>
</div>

<!--<router-outlet></router-outlet>-->