<div class="modal-header">
  <h4 class="modal-title">Item Search</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- start div for searching through blank Complaint Reference No-->
  <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    Do you want to add more item(s)?
  </div>
  <!-- end div for searching through blank Complaint Reference No -->

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)=" onRedirectComplaintReferenceNoSearch()">Yes</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">No</button>
</div>
<!-- spinner -->
<!-- <ispl-busy-spinner *ngIf="busySpinner.busy">
</ispl-busy-spinner> -->
<!-- end of spinner-->