<div class="page-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#/home">Home</a>
    </li>
    <li class="breadcrumb-item active">{{title}}</li>
  </ol>

  <!-- Write Your Code -->
  <!-- start div for container -->
  <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width:100%;">

    <!--start search div -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="input-group" style="width:100%;">
          &nbsp;
        </div>
      </div>
      <div [formGroup]="searchFormGroup" class="input-group col-lg-6 col-md-6 col-sm-6 col-xs-12" style="float: right;">
        <input type="search" class="form-control search-input" formControlName="gridSearch" placeholder="Search">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>
    <!-- end of search div -->


    <!--start div for row-->
    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 15px;">


      <!--start div for faceted nav-->
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 faceted-nav">

        <!--start div for status-->
        <!-- <ng-container> -->
        <div class="row faceted-header" style="height:33px;">
          <span class="label-faceted-header">Complaint Status</span>
        </div>
        <div *ngIf="facetedNavData?.complainStatus && changeStattusGroup">
          <form [formGroup]="changeStattusGroup">
            <div *ngFor="let statusFacet of facetedNavData?.complainStatus" style="padding: 5px;">
              <ng-container *ngIf="statusFacet.lastActivityId">
                <input type="checkbox" formControlName="{{statusFacet.lastActivityId}}" />
                <span>
                  {{ statusFacet.lastStatus }}
                </span>
              </ng-container>
            </div>
          </form>

        </div>

        <div class="row faceted-header" style="height:33px;">
          <span class="label-faceted-header">Complaint Type</span>
        </div>
        <div *ngIf="facetedNavData?.complainType && complanTypeFormgroup">
            <form [formGroup]="complanTypeFormgroup">
          <div *ngFor="let complainTypeFacet of facetedNavData?.complainType" style="padding: 5px;">
            <ng-container *ngIf="complainTypeFacet.complaintTypeDesc">
              <input type="checkbox" formControlName="{{complainTypeFacet.complaintTypeId}}"/>
              <span>
                {{ complainTypeFacet.complaintTypeDesc }}
              </span>
            </ng-container>
          </div>
        </form>
        </div>

        <div class="row faceted-header" style="height:33px;">
          <span class="label-faceted-header">Nature of Complaint</span>
        </div>
        <div *ngIf="facetedNavData?.natureOfComplain && natureOfComplainGroup">
          <form [formGroup]="natureOfComplainGroup"> 

         
          <div *ngFor="let natureOfComplainFacet of facetedNavData?.natureOfComplain" style="padding: 5px;">
            <ng-container *ngIf="natureOfComplainFacet.natureOfComplaintId">
              <input type="checkbox" (click)="selectFacet('natureOfComplain', natureOfComplainFacet.natureOfComplaintId)" formControlName="{{natureOfComplainFacet.natureOfComplaintId}}" />
              <span>
                {{ natureOfComplainFacet.natureOfComplaintDesc }}
              </span>
            </ng-container>
          </div>
        </form>
        </div>
        <!-- </ng-container> -->
        <!--end div for status-->
      </div>
      <!-- end div for faceted nav -->

      <!--start div for actn btn and table grid (col-md-10)-->
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-right: 0 !important">

        <!--start div for row for actn btn n table grid-->
        <div class="row">

          <!--start div for showing faceted data-->



          <!--end of div for showing faceted data-->

          <!--start div for actn btn and faceted nav -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 10px;">

            <!-- start table div -->
            <div class="col-lg-12 col-md-12 col-xs-12" style="margin-bottom: 15px; margin-top: 5px;">
              <table class="table-style">
                <thead>
                  <tr class="th-style">
                    <td class="header-style-first hideextra" (click)="sortdata('CMPLNT_REF_NO')">
                      {{ gridHeader.complaintReferenceNo }}
                      <i *ngIf="sortSelection.sortData == 'CMPLNT_REF_NO' && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == 'CMPLNT_REF_NO' && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.sortData != 'CMPLNT_REF_NO' || sortSelection.orderType == ''" class="fa fa-sort"></i>
                    </td>
                    <td class="header-style hideextra" (click)="sortdata('CMPLNT_REF_DATE')">
                      Complaint Date

                      <i *ngIf="sortSelection.sortData == 'CMPLNT_REF_DATE' && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == 'CMPLNT_REF_DATE' && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.sortData != 'CMPLNT_REF_DATE' || sortSelection.orderType == ''" class="fa fa-sort"></i>
                    </td>

                    <td class="header-style hideextra" (click)="sortdata('CUSTOMER_NAME')">
                      {{ gridHeader.customerName }}
                      <i *ngIf="sortSelection.sortData == 'CUSTOMER_NAME' && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == 'CUSTOMER_NAME' && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>

                      <i *ngIf="sortSelection.sortData != 'CUSTOMER_NAME' || sortSelection.orderType == ''" class="fa fa-sort"></i>
                    </td>

                    <td class="header-style hideextra" (click)="sortdata('CMPLNT_TYPE_DESC')">
                      {{ gridHeader.complaintTypeDesc }}
                      <i *ngIf="sortSelection.sortData == 'CMPLNT_TYPE_DESC' && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == 'CMPLNT_TYPE_DESC' && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.sortData != 'CMPLNT_TYPE_DESC' || sortSelection.orderType == ''" class="fa fa-sort"></i>
                    </td>

                    <td class="header-style hideextra" (click)="sortdata('NAT_CMPLNT_DESC')">
                      {{ gridHeader.natureOfComplaintDesc }}
                      <i *ngIf="sortSelection.sortData == 'NAT_CMPLNT_DESC' && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == 'NAT_CMPLNT_DESC' && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.sortData != 'NAT_CMPLNT_DESC' || sortSelection.orderType == ''" class="fa fa-sort"></i>
                    </td>
                    <td class="header-style-last hideextra" (click)="sortdata('ACTIVITY_DESC')">
                      {{ gridHeader.lastStatus }}
                      <i *ngIf="sortSelection.sortData == 'ACTIVITY_DESC' && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc"></i>
                      <i *ngIf="sortSelection.sortData == 'ACTIVITY_DESC' && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc"></i>
                      <i *ngIf="sortSelection.sortData != 'ACTIVITY_DESC' || sortSelection.orderType == ''" class="fa fa-sort"></i>
                    </td>
                  </tr>
                </thead>

                <!--| isplSearch: searchFormGroup.value.gridSearch : complaintDIViewDetails;-->

                <tbody>
                  <tr class="tr-style" *ngFor="let complaintViewValue of complaintDIViewDetails
                  | isplSearch: searchFormGroup.value.gridSearch : gridHeader
              ; let odd = odd; let even = even;" [ngClass]="{even: even, odd: odd }">
                    <td class="td-style-first">
                      <span class="custom-link" title="Click here" (click)="getComplaintDetailsOnSelect(complaintViewValue,'View')">
                        {{complaintViewValue.complaintReferenceNo}}
                      </span>
                    </td>
                    <td class="td-style">{{complaintViewValue.complaintReferenceDt|date: 'dd-MMM-yyyy'}}</td>
                    <td class="td-style">{{complaintViewValue.customerName}}</td>
                    <td class="td-style">{{complaintViewValue.complaintTypeDesc}}</td>
                    <td class="td-style">{{complaintViewValue.natureOfComplaintDesc}}</td>
                    <td class="td-style-last">{{complaintViewValue.lastStatus}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- end of table div -->
            <nav aria-label="Page navigation example" style="float:right">
                
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                      <a class="page-link" (click)="setPage(1)">First</a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                      <a  class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                      <a class="page-link" (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                  </ul>
              </nav>
          </div>
          <!--end of div for actn btn n faceted nav-->

        </div>
        <!--end of div row for actn btn n table grid-->
      </div>
      <!--end of div for actn btn n table(col-md-10)-->

    </div>
    <!--end of div row-->
    
  </div>
  <!-- end of div container -->
</div>
<!-- end of div page-container -->

<ispl-busy-spinner *ngIf="busySpinner">
</ispl-busy-spinner>